.budgetlist
  div.navbar.navbar-default
    .container-fluid
      div.navbar-header
        .navbar-brand Budget Übersicht
      div#budget-navbar-main(ng-controller="dialogCtrl")
       form.navbar-form.navbar-right
          button.btn.btn-primary(ng-click="launchBudgetDlg()")
            span.glyphicon.glyphicon-plus
            strong Neues Budget

  #no-budgets(ng-hide="budgets")
    alert.alert-info
      | Keine Budgets vorhanden. Leg doch ein neues an!
  #budget-overview(ng-show="budgets")
    table.col-sm-12.table-striped.table-hover.table
      thead
        tr
          th Name
          th Detail
          th Interval
          th Start date
          th Budget
          th.icons
      tbody
        tr(ng-repeat="budget in budgets | orderBy:predicate:reverse")
          td.rs-text {{budget.name}}
          td.rs-text {{budget.info}}
          td.rs-text {{budget.latestBudget.interval}}
          td.rs-time {{budget.latestBudget.startdate|date:shortdate}}
          td.rs-text {{budget.latestBudget.budget|currency}}
          td.icons
            .show-on-hover
              a.remove(ng-click="deleteBudget(budget)")
                span.glyphicon.glyphicon-remove
              a.edit(ng-click="editBudget(budget)")
                span.glyphicon.glyphicon-edit
