.budgetlist
  h1.page-header Buchungen:
  table.col-sm-12.table-striped.table-hover.table
    thead
      tr
        th Datum
        th Buchung
        th Nutzer
        th Kategorie
        th Notwendigkeit
        th Betrag
        th.icons
    tbody
      tr(ng-repeat="booking in bookings | orderBy:predicate:reverse")
        td.rs-time {{booking.bookingtime|date:shortdate}}
        td.rs-text {{booking.name}}
        td.rs-text {{booking.addedby}}
        td.rs-text {{booking.category}}
        td.rs-text {{booking.necessity}}
        td.rs-value {{booking.value|currency}}
        td.icons
          .show-on-hover
            a.remove(ng-click="deleteBooking(booking)")
              span.glyphicon.glyphicon-remove
            a.edit(ng-click="editBooking(booking)")
              span.glyphicon.glyphicon-edit
