
.budgetlist
  md-button.md-fab.md-accent(ng-controller="BudgeteditorCtrl", ng-click="showBudgetEditor($event)",
    style="position: fixed; right: 20px; bottom:20px;")
    md-icon(md-svg-src="assets/images/plus-black.svg", style="width: 24px; height: 24px; opacity: 0.87")


  md-content(style="width: 100%; max-width: 1000px;margin: auto;")
    md-list
      md-item(ng-repeat="budget in budgets")
        md-item-content
          span(style="width: 10px", hide-sm)
          .md-tile-left(style="padding-right: 4px;")
            md-icon.no-accent.s64(hide-sm, md-svg-src="assets/images/gas.svg")
            md-icon.no-accent.s32(hide, show-sm, md-svg-src="assets/images/gas.svg")
          .md-tile-content
            h3 {{budget.name}}
            h4 {{budget.info}}
            p(hide-sm)
              span {{budget.latestBudget.interval}}
              span - {{budget.latestBudget.startdate| date:shortdate}}
          .md-tile-right
            h3 0 / {{budget.latestBudget.budget | currency}}
            //-rs-bar(full={{budget.latestBudget.budget}}, current=0)
          .md-button(style="padding: 16px 0px 16px 16px;", ng-click="showBottomSheet($event, budget)")
            md-icon.no-accent.s32(md-svg-src="assets/images/modify.svg")
          span(style="width: 10px", hide-sm)
        md-divider(ng-if="!$last")
