div(ng-include='"app/navbar/navbar.html"')

md-content(flex)
  div(layout="column", layout-fill, layout-align="space-around center")
    .md-whiteframe-z2(style="max-width:600px;width:90%;margin:35px;")
      section
        span
          md-toolbar.md-accent.md-default-theme.login
            div.row
              h2.md-toolbar-tools(layout="column", layout-align="start center")
                span(style="padding: 12px; margin-top: -10px;")
                  md-icon(md-svg-src="assets/images/login.svg")
                span(style="padding: 12px 0;") Login
          md-content.md-padding(layout="row", layout-sm="column", layout-align="center center")
            span(style="padding:15px")
              md-button.md-warn.md-raised(href='', ng-click='loginOauth("google")', style="padding:5px")
                |  Log in with Google+
            span(style="padding:15px")
              md-button.md-primary.md-raised(href='', ng-click='loginOauth("facebook")')
                |  Log in with Facebook
          md-content(layout="row", layout-align="center center")
            span
              | - OR -
          md-content.md-padding(layout="column")
            form(name="loginForm", ng-submit="login(loginForm)", novalidate="")
              md-input-container
                label Email
                input(required, type="email", name="email", ng-model="user.email")
                div(ng-messages="loginForm.email.$error")
                  div(ng-message="required")
                    | Please enter your email.
                  div(ng-message="email")
                    | The email address is not valid.
              md-input-container
                label Password
                input(type="password", required, name="password", ng-model="user.password", mongoose-error='')
                div(ng-messages="loginForm.password.$error")
                  div(ng-message="required")
                    | Enter your password.
                  div(ng-message="mongoose")
                    | {{ errors.password }}
              div(layout="row", layout-align="end center")
                span(style="padding: 5px;")
                  md-button.md-raised.md-primary(type="submit")
                    | Login
                span(style="padding: 5px;")
                  md-button.md-raised(href='/signup')
                    | Sign up
