/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.rs-row {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

md-icon {
  opacity: .87;
  margin-top: 0px;

  &.no-accent {
    opacity: .66;
  }
}

a {
  text-decoration: none;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'budgets/budgetlist/budgetlist.scss';
@import 'rs-bar/rs-bar.scss';
// endinjector
