div(layout="column", layout-fill, ng-controller='NavbarCtrl')
  md-toolbar
    .md-toolbar-tools
      md-button(href='/')
        span Budget Monitor
      span(flex) &nbsp;
      md-button(ng-href='/signup', ng-hide='isLoggedIn()', ng-class='{active: isActive("/signup")}')
        span(layout="row" layout-align="start center")
          md-icon(icon="/assets/images/signup.svg", style="padding: 6px; margin-top: -4px;")
          span(hide-sm) Sign up
      md-button(ng-href='/login', ng-hide='isLoggedIn()', ng-class='{active: isActive("/login")}')
        span(layout="row" layout-align="start center")
          md-icon(icon="/assets/images/login.svg", style="padding: 6px; margin-top: -4px;")
          span(hide-sm) Login
      span(ng-show='isLoggedIn()') Hallo {{ getCurrentUser().name }}.&nbsp;
      span(ng-show='isLoggedIn()', ng-class='{active: isActive("/settings")}')
        a(href='/settings')
          span.glyphicon.glyphicon-cog
      md-button.md-primary(ng-href='', ng-click='logout()', ng-show='isLoggedIn()', ng-class='{active: isActive("/logout")}')
        md-icon(icon="/assets/images/logout.svg", style="padding: 6px; margin-top: -4px;")
