div(ng-include='"components/navbar/navbar.html"')



//- header#banner.hero-unit(ng-hide="isLoggedIn()")
//-   .container
//-     h1 Willkommen beim Budget Monitor!
//-     p.lead Manage und überwache dein Budget online.
//-     //- img(src='assets/images/budgetmonitor.svg', alt='I\'m Yeoman')
//-     md-icon(icon='assets/images/budgetmonitor.svg')
//-   .container
//-     h2.lead Bitte logge Dich ein.

div(ng-show="isLoggedIn()")
  budgetlist(budgets="budgets")


//- footer.footer
//-   .container
//-     p
//-       | Budget Monitor 1.0.0
//-       = ' | '
//-       a(href='mailto:rschulz@marshfire.net') @Ronny Schulz
