div(ng-include='"app/navbar/navbar.html"')

.rs-hero-unit(ng-hide="isLoggedIn()")
  div(layout="column", layout-fill, layout-align="space-around center")
    md-toolbar.rs-xtra-tall.md-hue-1
      .rs-xtra-tall(layout="column", layout-aling="center center")
        span(flex)
        div(layout="column", layout-align="space-around center")
          h3 Spent all your money already?
        div(layout="row", layout-align="space-around center")
          span(flex)
          img(src="assets/images/budgetmonitor.png", style="width: 128px; height: 128px;")
          div
            h4 Budget Monitor might help you!
            h5 Set up budgets and keep track of it.
          span(flex)
        span(flex)



//- header#banner.hero-unit(ng-hide="isLoggedIn()")
//-   .container
//-     h1 Willkommen beim Budget Monitor!
//-     p.lead Manage und überwache dein Budget online.
//-     //- img(src='assets/images/budgetmonitor.svg', alt='I\'m Yeoman')
//-     md-icon(icon='assets/images/budgetmonitor.svg')
//-   .container
//-     h2.lead Bitte logge Dich ein.

div(ng-show="isLoggedIn()")
  budgetlist(budgets="budgets")


//- footer.footer
//-   .container
//-     p
//-       | Budget Monitor 1.0.0
//-       = ' | '
//-       a(href='mailto:rschulz@marshfire.net') @Ronny Schulz
