form.form(name="form", ng-submit="done(form)", novalidate="")
  .modal-header.bg-primary
    h4 Ein neues Budget erzeugen
  .modal-body
    .form-group(ng-class='{ "has-success": form.name.$valid && submitted,\
    "has-error": form.name.$invalid && submitted }')
      label Name
      input.form-control(type='text', name='name', ng-model='data.name', required='')
      p.help-block(ng-show='form.name.$error.required && submitted')
        | Ein Name ist erforderlich.

    .form-group(ng-class='{ "has-success": form.info.$valid && submitted,\
    "has-error": form.info.$invalid && submitted }')
      label Beschreibung
      input.form-control(type='text', name='info', ng-model='data.info', required='')
      p.help-block(ng-show='form.info.$error.required && submitted')
        | Eine Beschreibung ist erforderlich.

    .form-group(ng-class='{ "has-success": form.interval.$valid && submitted,\
    "has-error": form.interval.$invalid && submitted }')
      label Intervall
      input.form-control(type='text', name='interval', ng-model='data.interval', required='')
      p.help-block(ng-show='form.interval.$error.required && submitted')
        | Eine Intervallangabe ist erforderlich.

    .form-group(ng-class='{ "has-success": form.startdate.$valid && submitted,\
    "has-error": form.startdate.$invalid && submitted }')
      label Abrechnungsbeginn
      .input-group
        input.form-control(type="text", name="startdate", datepicker-popup="longDate",
          ng-model="data.startdate", datepicker-mode="year", is-open="opened",
          show-button-bar="false")
        span.input-group-btn
          button.btn.btn-default(ng-click='open($event)')
            span.glyphicon.glyphicon-calendar

    .form-group(ng-class='{ "has-success": form.budget.$valid && submitted,\
    "has-error": form.budget.$invalid && submitted }')
      label Budget
      input.form-control(type='text', name='budget', ng-model='data.budget',
        pattern="^[0-9]+(((\.|\,)[0-9][0-9])$)?", required='')
      p.help-block(ng-show='form.budget.$error.required && submitted')
        | Ein Budget muss angegeben werden.

  .modal-footer
    button.btn.btn-primary(type="submit")
      | OK
    button.btn.btn-warning(ng-click="cancel()")
      | Abbrechen
