md-bottom-sheet.md-list.md-has-header
  h3 "{{currentBudget.name}}" actions
  md-list
    md-item
      md-button.icon-button(aria-label="edit", ng-click="showBudgetEditor($event, 'edit')")
        md-icon.s32(md-svg-src="/assets/images/edit.svg")
        span.text Edit
    md-item
      md-button.icon-button(aria-label="delete", ng-click="confirmDelete($event)")
        md-icon.s32(md-svg-src="/assets/images/delete.svg")
        span.text Delete
